@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  background-image: radial-gradient(circle at 50% 0%, #1a1a24 0%, #050505 50%);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}
